* {
    font-family: "JetBrainsMono Nerd Font Mono", monospace;
    font-size: 10pt;
}

window {
    margin: 0px;
    border: 1px solid #bd93f9;
    background-color: #282a36;
    border-radius: 10px; /* Arrotondamento della finestra principale */
}

#input {
    margin: 5px;
    border: none;
    color: #f8f8f2;
    background-color: #44475a;
    border-radius: 8px; /* Arrotondamento del campo di input */
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #282a36;
    border-radius: 8px; /* Arrotondamento del box interno */
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #282a36;
    border-radius: 10px; /* Arrotondamento del box esterno */
}

#scroll {
    margin: 0px;
    border: none;
    border-radius: 8px; /* Arrotondamento della barra di scorrimento */
}

#text {
    margin: 5px;
    border: none;
    color: #f8f8f2;
}

#entry.activatable #text {
    color: #282a36;
}

#entry > * {
    color: #f8f8f2;
}

#entry:selected {
    background-color: #44475a;
    border-radius: 6px; /* Arrotondamento delle voci selezionate */
}

#entry:selected #text {
    font-weight: bold;
}
